@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/*   font-family: 'Montserrat', sans-serif; */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    
}
img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
a{
    text-decoration: none;
}
.container
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta
{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;

    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property:background-color,color ;
}
.cta:hover
{
    color: crimson;
    background-color: white ;
}
#hero
{
    background: url(img/hero-bg.png);
    background-size: cover;
    background-position: top center;
    z-index: 1;
    position: relative;
}
#hero::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;

}
#hero .hero
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1
{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1)
{
    animation-delay:1s;
}
#hero h1:nth-child(2)
{
    animation-delay:2s;
}
#hero h1:nth-child(3)
{
    animation: text_reveal_name .5 ease forwards;
    animation-delay:3s;
}


#hero h1 span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation:  text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay:.5s ;
}
#hero h1:nth-child(2) span{
    animation-delay:1.5s ;
}
#hero h1:nth-child(3) span{
    animation-delay:2.5s ;
}

/* service section */
#services{}
#services .services{
     flex-direction: column;
     justify-content: center;
     text-align:center;
     margin: 0 auto;
     padding: 100px 0;

}
.section-title
{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
}
 .section-title span
{
    color: crimson;
}
#services .service-top p
{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    
}
#services .service-bottom
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(img/img-1.png);
    background-size: cover;
    margin: 20px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 37px;
}

#services .service-item::after
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c 0%, #485563 100%);
    opacity: .9;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

#services .service-item h2
{
    font-size: 2rem;
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
}
#services .service-bottom p
{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    letter-spacing: .05rem;
    color: white;
}
/* End service section */

/* Projects section */
#projects .projects
{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .allprojects
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info
{
    padding: 30px;
    flex-basis: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
    flex-direction: column;
    color: white;
}
#projects .project-info h2
{
    font-size:1.8rem;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}
#projects .project-info p
{
    color: white;
}
#projects .project-img 
{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    
}
#projects .project-img img{
    transition: .3s ease transform;


}
#projects .project-img::after
{
    content: "";
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .6;
    
    
}
#projects .project-item:hover .project-img img
{
    transform: scale(1.1);
}
/* end of Projects section */

/* about section */
#about .about
{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left
{
    width: 250px;
    height: 360px;
}
#about .col-right
{
    width: 100%;
}
#about .col-right h2
{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p{
    margin-bottom: 10px;

}
#about p
{
    font-size: 12px;
}
#about .cta_1
{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;

    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 20px;
    transition: 0.3s ease;
    transition-property:background-color,color ;
}
#about .cta_1:hover
{
    color: white;
    background-color: crimson ;
}
#about .about-img img
{
    
    border: 10px solid white;
}
#about .about-img
{
    position: relative;
    z-index: 1;
}
#about .about-img::after
{
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
/* about section */

/* contact section */
#contact .contact
{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items
{
    width: 400px;
}
#contact .contact-item
{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    flex-direction: column;
    transition: ease .3s box-shadow;
}
#contact .contact-item:hover
{
    box-shadow: 0px 0px 5px 0 #0000002c;

}
#contact .icon
{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1
{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2
{
    font-size: 1.3 rem;
    line-height: 2rem;
    font-weight: 500;
}

/* end contact section */

/* footer */
#footer
{
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);

}
#footer .footer
{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px ;
    padding-bottom: 10px;
}
#footer .section-title
{
    font-size: 1.8rem;
    font-weight: 550;
    margin-bottom: 10px;
    margin-top: 10px;
}
#footer .social-items
{
    display: flex;
    flex-direction: row;
    
}
.footer h2{
    letter-spacing: .1rem;
    font-weight: 300;
    margin-bottom: 10px;
    color: white;
}
#footer .social-icons
{
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}
#footer p
{
    font-weight: 200;
    color: white;
    
}
#footer .social-icons img
{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-icons:hover img
{
    filter: grayscale(0);
}
/* end of footer */

/* keyframes */
@keyframes text_reveal_box
{
    50%
    {
        width: 100%;
        left: 0;
    }
    100%
    {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal
{
    100%
    {
        color: white;
    }
}
@keyframes text_reveal_name
{
    100%
    {
        color: crimson;
        font-weight: 500px;
    }
}

/* end of keyframes */

/* media querry for tablet */
@media only screen and (min-width:768px)
{
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title
    {
        font-size: 6rem;
    }
    /* hero section */
    #hero h1
    {
        font-size: 7rem;
    }
    /* End hero section */

    /* service section */
    #services .service-bottom .service-item
    {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End service section */

    /* project section */
    #projects .project-item
    {
        flex-direction: row;
    }
    #projects .project-item:nth-child(even)
    {
        flex-direction: row-reverse;
    }
    #projects .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .allprojects .project-info
    {
        height: 100%;
    }
    #projects .project-img {
        flex-basis: 50%;
        height: 410px;
        overflow: hidden;
        position: relative;
    }
    /* End project section */

    #about .about
    {
        flex-direction: row;
    }
    img {
        height: 100%;
        width: 70%;
        object-fit: cover;
    }
    #about .about .col-left .about-img {
        width: 279px;
        height: 273px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: 91px;
        top: 25px;
        height: 98%;
        width: 42%;
        border: 10px solid crimson;
    }
    #about .about .col-left .about-img
    {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after
    {
        left: -45px;
        top:34px;
        height:98%;
        border:10px solid crimson;
    }
    #about .col-right
    {
        text-align: left;
    }
    #about .col-right  h1{
        text-align: left;
    }

    /* contact */
    #contact .contact
    {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    
    #contact .contact-item
    {
        width: 100%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info
    {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
  
    /*end  contact */

}
/* media querry for tablet */
